extends layout

block content
    h2 Select your language
    a(href="/en")
        article.lang
            h3 English
            img(src="/src/img/langs/en.png")
        article.lang
            h3 Russian
            img(src="/src/img/langs/ru.png")