doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Hanako
        link(rel="stylesheet/less" href="/src/data/style/main.less")
        script(src="/src/data/js/less.js")
        script(src="/src/data/js/jquery.js")
        script(src="/src/data/js/main.js")
        //- mixins
        include mixins
    body
        section.logo
            img(src="/src/img/logo/logo.png" alt="logo_img")
            img(src="/src/img/logo/text.png" alt="text_logo")
        section.content
            block content
    footer
        span='Hanako: '
            iframe(src="https://ghbtns.com/github-btn.html?user=Vladimir37&repo=Hanako&type=star&count=true"
            frameborder="0" scrolling="0" width="80px" height="20px")
        br
        span='This site: '
            iframe(src="https://ghbtns.com/github-btn.html?user=Vladimir37&repo=Hanako_site&type=star&count=true"
            frameborder="0" scrolling="0" width="80px" height="20px")