@purple: #9C27B0;
@yellow: #FFFFD3;
@yellowTwo: #f2f2c4;
body {
    background: @yellow;
}
.logo {
    width: 940px;
    margin: 10px auto;
    img {
        vertical-align: middle;
        &[alt="logo_img"] {
            width: 120px;
        }
        &[alt="logo_text"] {
            height: 60px;
        }
    }
}
.content {
    width: 940px;
    padding: 20px;
    background: @yellowTwo;
    margin: 0 auto;
    text-align: center;
    p, article {
        text-align: left;
    }
    .mark {
        color: @purple;
        border: solid 1px green;
        background: white;
        &:before, &:after {
            content: ' ';
        }
    }
    .note {
        background: white;
        border: solid 1px green;
        padding: 5px;
        &:before {
            content: 'Note:';
            font-weight: bold;
            display: block;
            color: @purple;
        }
    }
    img {
        max-width: 800px;
        border: solid 2px @purple;
    }
    .lang_a {
        color: black;
        .lang {
            display: inline-block;
            width: 45%;
            text-align: center;
        }
    }
    .menu_item {
        text-decoration: none;
        article {
            text-align: center;
            width: 50%;
            border: 2px solid @purple;
            color: black;
            padding: 5px;
            margin: 5px auto;
            font-size: 20px;
        }
    }
    a:not(.menu_item, .lang_a):before {
        content: ' ';
    }
    b:before, b:after {
        content: ' ';
    }
}