extends ../../basis/layout

block content
    h1 Администрирование
    section.main_article
        p
            | После успешного запуска перейдите по адресу
            span.mark ваш_домен:порт/admin/login
            | .
        article.note
            | Если вы запустили Hanako на вашем компьютере, то вместо домена нужно указать
            span.mark localhost
            | . Также, если выбранный вами порт равен 80, его можно не указывать.
        p
            | Перед вами откроется окно входа в панель управления. Пока существует только один аккаунт администратора,
            | через него и нужно заходить. Введите логин
            span.mark Admin
            | и пароль
            span.mark Pass
            | , а также капчу с изображения и входите. Если вы всё сделали правильно, то перед вами откроется меню
            | навигации по административной панели.
        img(src="/src/img/docs/2.png" alt="doc2")
        p
            | Количество пунктов в этом меню зависит от статуса администратора.
            | Созданный по умолчанию аккаунт имеет статус 3 - максимальный, и ему доступны все пункты. Давайте разберём
            | все пункты более подробно.
        h2 Спам-лист
        p
            | Первым пунктом идёт спам-лист. Зайдя в него, вы увидите список досок с их спам-листами, а также общий спам-лист -
            | обозначен словом
            span.mark all
            | .
        img(src="/src/img/docs/1.png" alt="doc1")
        p
            | Для добавления нового слова в спам-лист введите его в текстовое поле под названием доски либо
            span.mark all
            | , после чего кликните по кнопке
            span.mark Add
            | . Готово! Теперь пользователь не сможет отправить на эту доску сообщение, если в нём содержится слово, находящееся
            | в спам листе. Для удаления слова из спам-листа кликните на крестик рядом с ним.
        h2 Баны
        p
            | Возможность забанить пользователя по IP-адресу необходима любой имейджборде. При переходе в это меню вы увидите
            | список забаненых и форму для бана.
        img(src="/src/img/docs/3.png" alt="doc3")
        p
            | Для того, чтобы забанить определённый адрес, впишите его в поле
            span.mark IP
            | в форме. В поле
            span.mark Reason
            | введите причину бана - на ваше усмотрение. В поле
            span.mark Ban days
            | введите то количество дней, на которое должен быть забанен адрес. Поле должно содержать только цифры!
            | В соседнем выпадающем списке выберите доску, на которой будет заблокирован адрес, либо значение
            span.mark All
            | для блокировки на всех досках. С забаненного адреса невозможно будет отправлять сообщения на одну или все доски.
            | Количество банов на один адрес не ограниченно.
            | После этого кликайте на кнопку
            span.mark Ban
            | и адрес будет заблокирован. В таблице внизу перечислены все заблокированные адреса. Напротив каждой строки
            | есть кнопка
            span.mark Unban
            | , при клике на которую адрес будет разблокирован. В самой строке перечислена следующая информация - номер
            | бана, адрес, доски, на которых действует бан, либо
            span.mark All
            | , логин администратора, совершившего блокировку, причина бана, количество дней (указывается общее количество дней,
            | а не оставшиеся дни) и дата блокировки. Обратите внимание, что проверка всех забаненных происходит раз в сутки,
            | а потому разблокирование может произойти не мгновенно.
        h2 Доски
        p
            | Разумеется, ваша имейджборда будет состоять из определённого числа досок - подобия разделов на классическом
            | форуме. Управлять ими вы можете в соответствующем разделе.
        img(src="/src/img/docs/4.png" alt="doc4")
        p
            | Сверху находится форма создания новой доски, снизу - редактирования уже существующих. Давайте рассмотрим все
            | элементы формы создания подробно. Порядок такой - сверху идут четыре текстовых поля, посередине шесть чекбоксов
            | (переключателей, которые могут быть только да/нет) и внизу четыре цифровых поля. Рассмотрим текстовые поля.
            | Поле под названием
            span.mark name
            | принимает адрес доски. Как правило, это от одной до трёх латинских букв, возможно с цифрами. Длинна не ограничена.
            span.mark Public name
            | - это полное название доски, например "Кино" или "Игры". В поле
            span.mark Category
            | нужно ввести название категории. Все доски группируются по этим категориям. Примеры - "Японская культура",
            | "Игровые вселенные", "Другое". Последнее текстовое поле
            span.mark Default username
            | принимает значение имени автора сообщения, если не указано иное. Как правило, в нём пишут "Anonymous". Теперь
            | рассмотрим переключатели. Первый из них называется
            span.mark Allow images
            | и отвечает за разрешение прикрепления изображений к своему посту. Если этот пункт не будет отмечен, пользователи
            | не смогут добавлять изображения. Пункт
            span.mark Allow tripcodes
            | отвечает за разрешение использования трипкодов. Если он отмечен, то все символы, введённые юзером в поле "Имя"
            | после знака решётки (#) будут преобразованы в уникальный трипкод, который можно использовать для подтверждения
            | авторства какого-либо поста. Следующий пункт под названием
            span.mark Required tripcodes
            | позволяет сделать принудительные трипкоды. Если он активирован, то в любом посте будет обязательно генерироваться
            | трипкод на основе IP адреса. Пункт
            span.mark Hidden
            | при активации делает доску скрытой. Такая доска не отображается в списке досок. Пункт
            span.mark Required image in OP-post
            | делает обязательным прикрепление изображения к первому сообщению треда. Если неактивно, пользователи смогут
            | создавать треды без изображения. И пункт
            span.mark Allow roulette
            | разрешает использование рулетки (бросков дайсов). Если этот пункт активен, то юзеры на этой доске смогут
            | использовать броски дайсов для генерации случайных чисел в форме
            b (максимальное значение)RL(количество бросков)
            | . Для примера,
            b 50RL10
            | означает, что будет сгенерировано десять бросков с максимальным значением в 50. Результат будет выглядеть вот
            | так:
        img(src="/src/img/docs/5.png" alt="doc5")
        p
            | В скобках указано максимально возможная сумма. Это полезно для ролевых игр.
        article.note
            | Максимальное число бросков - 10, максимальное значение одного броска - 100.
        p
            | И наконец давайте рассмотрим цифровые поля. Первое поле называется
            span.mark Bumplimit
            | и обозначает количество сообщений, после которых тред перестаёт подниматься вверх. Лишившись возможности
            | подниматься, он постепенно уходит на всё более и более дальние страницы, пока не исчезнет совсем. Значение
            | по умолчанию - 500. Следующие поле называется
            span.mark Threads on page
            | и обозначает число тредов на одной странице. Не стоит ставить слишком много, так как иначе страница будет долго
            | загружаться, и не слишком мало, а то юзеру придётся часто переходить с одной страницы на другую. Значение по
            | умолчанию - 10. Третье поле
            span.mark Max pages
            | принимает количество страниц, которые будут существовать на доске. Количество страниц, умноженное на количество
            | тредов на странице даст общее количество тредов. Если максимальное число достигнуто и создаётся новый тред,
            | то тред, в который писали позже всего удаляется. Значение по умолчанию - 10. Последнее поле под названием
            span.mark Max image size in mb
            | обозначает максимальный размер изображения в мегабайтах. Как правило, большое количество изображений с большим
            | размером быстро заполняет всё доступное пространство на диске, поэтому этот параметр так важен. Но стоит помнимть,
            | что при удалении треда все изображения из него удаляются, поэтому соотнесите этот параметр с общим размером
            | места на сервере и общим количеством тредов.
        p
            | Внизу находятся практически аналогичные формы для уже созданных досок. Единственное их отличие в том, что
            | отстутствует возможность изменить адрес доски. После того, как вы внесёте необходимые изменения, кликните по
            | кнопке
            span.mark Add
            | либо
            span.mark Edit
            | , после чего изменения вступят в силу.
        h2 Администраторы
        p
            | Когда имейджборда становится популярной, управлять ей в одиночку становится трудно. В таком случае можно
            | нанять дополнительных администраторов, на всякий случай ограничив их в правах.
        img(src="/src/img/docs/6.png" alt="doc6")
        p
            | Здесь вы можете увидеть форму добавления новых администраторов, а также таблицу с перечислением всех действующих.
            | Добавить нового администратора несложно. Введите в первое поле его уникальный логин, а в поле нижу - пароль.
            | Дальше необходимо указать его статус от нуля до трёх (описание возможностей администраторов с разными статусами
            | чуть ниже). После этого нужно либо выбрать одну или несколько досок в списке (там перечислены все дейстующие
            | на данный момент доски) либо отметить пункт
            span.mark All boards
            | для выбора всех досок сразу. После выбора досок, на которые будут распространятся полномочия администратора
            | кликните по кнопке
            span.mark Create
            | для создания. Чтобы заблокировать действующего администратора, кликните по кнопке
            span.mark Block
            | .
        article.note
            | Настоятельно рекомендуется создать нового администратора со статусом 3 и полномочиями на все доски, а имеющегося
            | по умолчанию 'Admin' заблокировать, так как его пароль опубликован здесь.
        p
            | Далее перечислены все возможности, доступные администраторам с разным статусом. Каждый статус выше имеет права
            | на всё, что могут меньшие статусы, плюс дополнительные возможности - то есть, администратор со статусом 3
            | может делать всё то же, что администраторы со статусами 0-2, а также дополнительные возможности. Ниже перечислены
            | только дополнительные возможности.
        ul
            li
                b 0
                | — Пункты меню: жалобы. Действия в треде: нет.
            li
                b 1
                | — Пункты меню: спам-лист. Действия в треде: удалить пост, предупреждение.
            li
                b 2
                | — Пункты меню: баны. Действия в треде: удалить все посты автора, удалить все посты и треды автора, забанить
                | автора, удалить тред, прикрепить/открепить тред, закрыть/открыть тред.
            li
                b 3
                | — Пункты меню: администраторы, доски. Действия в треде: нет.
        p
            | Пункты меню всеми используются одинаково, а вот действия в треде можно производить только на той доске,
            | на которую администратору выданы права.