extends ../../basis/layout

block content
    h1 Администрирование
    section.main_article
        p
            | После успешного запуска перейдите по адресу
            span.mark ваш_домен:порт/admin/login
            | .
        article.note
            | Если вы запустили Hanako на вашем компьютере, то вместо домена нужно указать
            span.mark localhost
            | . Также, если выбранный вами порт равен 80, его можно не указывать.
        p
            | Перед вами откроется окно входа в панель управления. Пока существует только один аккаунт администратора,
            | через него и нужно заходить. Введите логин
            span.mark Admin
            | и пароль
            span.mark Pass
            | , а также капчу с изображения и входите. Если вы всё сделали правильно, то перед вами откроется меню
            | навигации по административной панели.
        img(src="/src/img/docs/2.png" alt="doc2")
        p
            | Количество пунктов в этом меню зависит от статуса администратора.
            | Созданный по умолчанию аккаунт имеет статус 3 - максимальный, и ему доступны все пункты. Давайте разберём
            | все пункты более подробно.
        h2 Спам-лист
        p
            | Первым пунктом идёт спам-лист. Зайдя в него, вы увидите список досок с их спам-листами, а также общий спам-лист -
            | обозначен словом
            span.mark all
            | .
        img(src="/src/img/docs/1.png" alt="doc1")
        p
            | Для добавления нового слова в спам-лист введите его в текстовое поле под названием доски либо
            span.mark all
            | , после чего кликните по кнопке
            span.mark Add
            | . Готово! Теперь пользователь не сможет отправить на эту доску сообщение, если в нём содержится слово, находящееся
            | в спам листе. Для удаления слова из спам-листа кликните на крестик рядом с ним.
        h2 Баны
        p
            | Возможность забанить пользователя по IP-адресу необходима любой имейджборде. При переходе в это меню вы увидите
            | список забаненых и форму для бана.
        img(src="/src/img/docs/3.png" alt="doc3")
        p
            | Для того, чтобы забанить определённый адрес, впишите его в поле
            span.mark IP
            | в форме. В поле
            span.mark Reason
            | введите причину бана - на ваше усмотрение. В поле
            span.mark Ban days
            | введите то количество дней, на которое должен быть забанен адрес. Поле должно содержать только цифры!
            | В соседнем выпадающем списке выберите доску, на которой будет заблокирован адрес, либо значение
            span.mark All
            | для блокировки на всех досках. С забаненного адреса невозможно будет отправлять сообщения на одну или все доски.
            | Количество банов на один адрес не ограниченно.
            | После этого кликайте на кнопку
            span.mark Ban
            | и адрес будет заблокирован. В таблице внизу перечислены все заблокированные адреса. Напротив каждой строки
            | есть кнопка
            span.mark Unban
            | , при клике на которую адрес будет разблокирован. В самой строке перечислена следующая информация - номер
            | бана, адрес, доски, на которых действует бан, либо
            span.mark All
            | , логин администратора, совершившего блокировку, причина бана, количество дней (указывается общее количество дней,
            | а не оставшиеся дни) и дата блокировки.
        h2 Доски
        p
            | Разумеется, ваша имейджборда будет состоять из определённого числа досок - подобия разделов на классическом
            | форуме. Управлять ими вы можете в соответствующем разделе.
        img(src="/src/img/docs/4.png" alt="doc4")
        p
            | Сверху находится форма создания новой доски, снизу - редактирования уже существующих. Давайте рассмотрим все
            | элементы формы создания подробно. Порядок такой - сверху идут четыре текстовых поля, посередине шесть чекбоксов
            | (переключателей, которые могут быть только да/нет) и внизу четыре цифровых поля. Рассмотрим текстовые поля.
            | Поле под названием
            span.mark name
            | принимает адрес доски. Как правило, это от одной до трёх латинских букв, возможно с цифрами. Длинна не ограничена.
            span.mark Public name
            | - это полное название доски, например "Кино" или "Игры". В поле
            span.mark Category
            | нужно ввести название категории. Все доски группируются по этим категориям. Примеры - "Японская культура",
            | "Игровые вселенные", "Другое". Последнее текстовое поле
            span.mark Default username
            | принимает значение имени автора сообщения, если не указано иное. Как правило, в нём пишут "Anonymous". Теперь
            | рассмотрим переключатели. Первый из них называется
            span.mark Permit image
            | и отвечает за разрешение прикрепления изображений к своему посту. Если этот пункт не будет отмечен, пользователи
            | не смогут добавлять изображения.
            span.mark Default username
            |
            span.mark Default username
            |
            span.mark Default username
            |
            span.mark Default username
            |
            span.mark Default username
            |