extends ../../basis/layout
block content
    mixin arrows('ru', ['files'])
    h1.art_header API
    section.main_article
        p
            | Hanako обладает мощным API, который можно использовать во множестве разных задач. Для примера, благодаря
            | сущствованию API создание мобильного приложения для Hanako становится лёгкой задачей. Ниже вы можете увидеть
            | таблицу с перечислением возможных вызовов API и их кратким описанием.
        table
            tr
                th Адрес
                th Тип
                th Параметры
                th Описание
            tr
                td
                    span.mark /api/boards
                td GET
                td
                td Возвращает список существующих досок по категориям.
            tr
                td
                    span.mark /api/dashboard
                td GET
                td board, page
                td Возвращает страницу доски с находящимися на ней тредами (с первым постом и тремя последними).
            tr
                td
                    span.mark /api/thread
                td GET
                td board, num
                td Возвращает все сообщения треда.
            tr
                td
                    span.mark /api/post
                td GET
                td board, num
                td Возвращает один пост с доски.
            tr
                td
                    span.mark /testing/new
                td GET
                td
                td Возвращает новый ключ капчи.
            tr
                td
                    span.mark /testing
                td GET
                td key
                td Возвращает изображение капчи.
            tr
                td
                    span.mark /<адрес доски>/
                td POST
                td c_key, c_value, text. Опциональные: sage, title, name, file
                td Создание треда.
            tr
                td
                    span.mark /<адрес доски>/<номер треда>
                td POST
                td c_key, c_value, text. Опциональные: sage, title, name, file
                td Ответ в тред.
        h2 Описание параметров
        p
            | Некоторые вызовы API происходят без параметров, однако остальным их нужно передать в обязательном порядке.
            | Если указано, что параметр опциональный, значит можно обойтись и без него. Описание параметров:
        ul
            li
                b board
                | — адрес доски. Строка из одной или нескольких букв, иногда с цифрами.
            li
                b page
                | — номер страницы.
            li
                b num
                | — номер поста. При выборе треда - номер первого поста.
            li
                b c_key
                | — ключ капчи. Можно получить выполнив запрос к
                span.mark /testing/new
                | .
            li
                b c_value
                | — введённое пользователем значение капчи.
            li
                b key
                | — ключ капчи, по которому генерируется изображение.
            li
                b text
                | — текст поста, введённый пользователем.
            li
                b name
                | — имя поста и ключ для генерации трипкода, разделённые знаком решётки
                span.mark #
                | . Опционально.
            li
                b title
                | — заголовок поста. Опционально.
            li
                b sage
                | — если отмечено, сообщение не поднимает тред в общем списке. Опционально.
            li
                b file
                | — загруженное изображение. Опционально, доступно не на всех досках.
        h2 Форма ответа
        p
            | Различные запросы возвращают результат в различной форме, наиболее подходящей к конкретно этому типу данных.
            | Практически все запросы возвращают ответ в стандартной форме. Стандартная форма представляет собой JSON объект
            | из двух свойств -
            span.mark status
            | и
            span.mark body
            | . Возможные статусы:
        ul
            li
                b 0
                | — запрос успешно выполнен. В
                span.mark body
                | находится результат.
            li
                b 1
                | — ничего не найдено. Аналогично ошибке 404.
            li
                b 2
                | — произошла ошибка сервера. Аналогично ошибке 500.
        p
            span.mark /api/boards
            | — ответ в стандартной форме. В
            span.mark body
            | содержится объект со свойствами, аналогичными категориям досок, которые содержат массив со вложенными массивами
            | из двух элементов - адреса и названия. Пример(здесь и далее приводится отформатированный код, тогда как в
            | в реальности JSON возвращается в виде сплошной строки):
        pre
            | {
            |   status: 0,
            |   body: {}
            | }
    mixin arrows('ru', ['files'])