extends ../../basis/layout
block content
    mixin arrows('ru', ['files'])
    h1.art_header API
    section.main_article
        p
            | Hanako обладает мощным API, который можно использовать во множестве разных задач. Для примера, благодаря
            | сущствованию API создание мобильного приложения для Hanako становится лёгкой задачей. Ниже вы можете увидеть
            | таблицу с перечислением возможных вызовов API и их кратким описанием.
        table
            tr
                th Адрес
                th Тип
                th Параметры
                th Описание
            tr
                td
                    span.mark /api/boards
                td GET
                td
                td Возвращает список существующих досок по категориям.
            tr
                td
                    span.mark /api/dashboard
                td GET
                td board, page
                td Возвращает страницу доски с находящимися на ней тредами (с первым постом и тремя последними).
            tr
                td
                    span.mark /api/thread
                td GET
                td board, num
                td Возвращает все сообщения треда.
            tr
                td
                    span.mark /api/post
                td GET
                td board, num
                td Возвращает один пост с доски.
            tr
                td
                    span.mark /testing/new
                td GET
                td
                td Возвращает новый ключ капчи.
            tr
                td
                    span.mark /testing
                td GET
                td key
                td Возвращает изображение капчи.
            tr
                td
                    span.mark /<адрес доски>/
                td POST
                td c_key, c_value, text. Опциональные: sage, title, name, file
                td Создание треда.
            tr
                td
                    span.mark /<адрес доски>/<номер треда>
                td POST
                td c_key, c_value, text. Опциональные: sage, title, name, file
                td Ответ в тред.
        h2 Описание параметров
        p
            | Некоторые вызовы API происходят без параметров, однако остальным их нужно передать в обязательном порядке.
            | Если указано, что параметр опциональный, значит можно обойтись и без него. Описание параметров:
        ul
            li
                b board
                | — адрес доски. Строка из одной или нескольких букв, иногда с цифрами.
            li
                b page
                | — номер страницы.
            li
                b num
                | — номер поста. При выборе треда - номер первого поста.
            li
                b c_key
                | — ключ капчи. Можно получить выполнив запрос к
                span.mark /testing/new
                | .
            li
                b c_value
                | — введённое пользователем значение капчи.
            li
                b key
                | — ключ капчи, по которому генерируется изображение.
            li
                b text
                | — текст поста, введённый пользователем.
            li
                b name
                | — имя поста и ключ для генерации трипкода, разделённые знаком решётки
                span.mark #
                | . Опционально.
            li
                b title
                | — заголовок поста. Опционально.
            li
                b sage
                | — если отмечено, сообщение не поднимает тред в общем списке. Опционально.
            li
                b file
                | — загруженное изображение. Опционально, доступно не на всех досках.
        h2 Форма ответа
        p
            | Различные запросы возвращают результат в различной форме, наиболее подходящей к конкретно этому типу данных.
            | Практически все запросы возвращают ответ в стандартной форме. Стандартная форма представляет собой JSON объект
            | из двух свойств -
            span.mark status
            | и
            span.mark body
            | . Возможные статусы:
        ul
            li
                b 0
                | — запрос успешно выполнен. В
                span.mark body
                | находится результат.
            li
                b 1
                | — ничего не найдено. Аналогично ошибке 404.
            li
                b 2
                | — произошла ошибка сервера. Аналогично ошибке 500.
        p
            span.mark /api/boards
            | — ответ в стандартной форме. В
            span.mark body
            | содержится объект со свойствами, аналогичными категориям досок, которые содержат массив со вложенными массивами
            | из двух элементов - адреса и названия. Пример(здесь и далее приводится отформатированный код, тогда как в
            | в реальности JSON возвращается в виде сплошной строки):
        pre
            | {
            |   "status": 0,
            |   "body": {
            |       "main": [["b", "Random"]],
            |       "japan": [["a", "Anime"], ["m", "Manga"]]
            |   }
            | }
        p
            span.mark /api/dashboard
            | — ответ в стандартной форме. В
            span.mark body
            | содержится объект с тремя свойствами: board, count и posts. Board содержит два свойства - addr с адресом доски
            | и data с характеристиками доски. В свойстве count содержится массив с количеством элементов, равным количеству
            | тредов на странице. Каждый элемент содержит число, равное количеству постов в этом треде. И наконец, в posts
            | содержится массив тредов. Каждый элемент представляет собой массив из двух элементов - из массива последних
            | постов (от нуля до трёх) и первого сообщения. Пример:
        pre
            | {
            |   "status": 0,
            |   "body": {
            |       "board": {
            |           "addr": "b",
            |           "data" {<параметры доски>}
            |       },
            |       "count": [3, 221, 15, 456, 137],
            |       "posts": [
            |           [[{...}, {...}], {...}],
            |           [[{...}, {...}, {...}], {...}],
            |           [[{...}, {...}, {...}], {...}],
            |           [[{...}, {...}, {...}], {...}],
            |           [[{...}, {...}, {...}], {...}],
            |           [[{...}, {...}, {...}], {...}],
            |       ]
            |   }
            | }
        p
            | Здесь и далее
            span.mark {...}
            | означает стандартный объект сообщения. Он содержит все необходимые данные о сообщении. Вот наиболее важдные
            | свойства этого объекта:
        ul
            li
                b id
                | — номер поста.
            li
                b admin
                | — 1 если сообщение написано администратором, null если нет.
            li
                b thread
                | — в каком треде находится это сообщение. Если null - это первое сообщение треда.
            li
                b attached
                | — если 1, то тред прикреплён. Для треда.
            li
                b close
                | — если 1, то тред закрыт. Для треда.
            li
                b createdAt
                | — дата создания поста.
            li
                b image
                | — если null, то пост не содержит изображения. Иначе там находится расширение изображения. Полный адрес
                | изображения:
                span.mark /src/img/trd/доска/тред/номер поста.расширение
                | .
            li
                b text
                | — текст сообщения.
            li
                b title
                | — заголовок сообщения или null.
            li
                b name
                | — имя юзера.
            li
                b trip
                | — трипкод юзера или null.
            li
                b sage
                | — если 0, то это обычное сообщение. Если 1, то это сообщение не поднимает тред в общем списке.
        p
            span.mark /api/thread
            | — ответ в стандартной форме. В
            span.mark body
            | содержится объект с тремя свойствами: boards_data, op_post, posts. В отличии от предыдущего запроса,
            | boards_data не содержит всей информации и представляет собой массив из трёх элементов. Первый - это адрес
            | доски, второй - название доски, третий - разрешено ли прикреплять к постам изображения, true/false. Свойство
            | op_post содержит стандартный объект сообщения, а posts - массив со стандартными объектами сообщения. Пример:
        pre
            | {
            |   "status": 0,
            |   "body": {
            |       "boards_data": ["b", "Random", true],
            |       "op_post": {...},
            |       "posts": [{...}, {...}, {...}, {...}, {...}]
            |   }
            | }
        p
            span.mark /api/post
            | — ответ в стандартной форме. В
            span.mark body
            | содержится стандартный объект сообщения. Пример:
        pre
            | {
            |   "status": 0,
            |   "body": {...}
            | }
        p
            span.mark /testing/new
            | — возвращает непосредственно текстовый ключ.
        p
            span.mark /testing
            | — возвращает непосредственно изображение.
        p
            | При отправке нового поста или треда ответ приходит в виде одного числа, означающего статус ответа. Вот полный
            | список возможных статусов ответа сервера при отправке поста или треда с пояснениями:
        ul
            li
                b 0
                | — сообщение успешно отправлено. Единственный успешный статус, остальные означают различные ошибки.
            li
                b 1
                | — капча введена неверно.
            li
                b 2
                | — в сообщении присутствует слово из спам-листа.
            li
                b 3
                | — IP адрес заблокирован.
            li
                b 4
                | — тред закрыт.
            li
                b 5
                | — тред не найден.
            li
                b 6
                | — ошибка сервера.
            li
                b 7
                | — изображение слишком большое.
            li
                b 8
                | — неверный формат файла.
            li
                b 9
                | — необходимо прикрепить изображение.
            li
                b 10
                | — между этим и прошлым постом прошло слишком мало времени.
    mixin arrows('ru', ['files'])