extends ../../basis/layout
block content
    h1 Настройка
    section.main_article
        p
            | Перед запуском Hanako необходимо провести настройку. Это несложный процесс, который тем не менее крайне важен.
            | Перейдите в директорию
            span.mark config
            | , которая находится в корневом каталоге Hanako. Здесь лежат все файлы конфигураций. Их и нужно настраивать.
        p
            | Для начала откройте файл
            span.mark app.json
            | . Свойства означают следующее:
        ul
            li
                b port
                | — порт, который будет прослушивать приложение.
            li
                b seconds_post
                | — юзер сможет отправлять новые сообщения раз в указанное количество секунд. Например, если указано 5 -
                | то один юзер сможет отправлять сообщения не чаще раз в пяти секунд. Отсчёт ведётся на каждой доске отдельно.
                | Сделано для защиты от вайпа.
            li
                b seconds_thread
                | — то же, что и предыдущее свойство, но относительно создания новаых тредов, а не отправки сообщений в
                | существующие.
        p
            | Следующий конфигурационный файл называется
            span.mark captcha.json
            | и предназначен для изменения вида тестов для различия людей и ботов (капча). Здесь можно ничего не менять.
            | Значения свойств таковы:
        ul
            li
                b size
                | — количество букв в капче. Рекомендуемые значения - 4-6.
            li
                b width
                | — ширина в пикселях.
            li
                b height
                | — высота в пикселях.
            li
                b background
                | — RGB цвет фона.
            li
                b color
                | — RGB цвет цифр.
            li
                b noise
                | — дополнительный графический шум. true/false.
            li
                b lineWidth
                | — толщина шумовых линий. Не рекомендуется ставить слишком большую.
            li
                b noiseColor
                | — RGB цвет шумовых линий.
            li
                b complexity
                | — сложность. 1-6.
        p
            | Следующие два конфигурационных файла -
            span.mark crypt_admin.json
            | и
            span.mark crypt_captcha.json
            | содержат всего два параметра, но тем не менее крайне важны. Они отвечают за шифрование и противодействие попыткам
            | взломать важу имейджборду.
        ul
            li
                b secret
                | — секретная строка, выполняющая роль "соли" в алгоритме шифрования. Рекомендуется заменить на свою строку,
                | или хотя бы добавить пару символов. Обратите внимание, что значение обязательно должно быть в двойных кавычках.
            li
                b iterations
                | — количество итераций цикла шифрования. Менять этот параметр не обязательно, но это повысит надёжность.
                | Ставить выше 5000 смысла не имеет. Обратите внимание, что значение обязательно не должно содержать двойные кавычки.