extends ../../basis/layout
block content
    h1 Настройка
    section.main_article
        p
            | Перед запуском Hanako необходимо провести настройку. Это несложный процесс, который тем не менее крайне важен.
            | Перейдите в директорию
            span.mark config
            | , которая находится в корневом каталоге Hanako. Здесь лежат все файлы конфигураций. Их и нужно настраивать.
            | Необходимо изменить только значение
            span.mark port
            | в файле
            span.mark app.json
            | и все значения в
            span.mark db.json
            | , однако вы можете по желанию подредактировать и другие конфигурационные файлы.
        p
            | Для начала откройте файл
            span.mark app.json
            | . Свойства означают следующее:
        ul
            li
                b port
                | — порт, который будет прослушивать приложение.
            li
                b seconds_post
                | — юзер сможет отправлять новые сообщения раз в указанное количество секунд. Например, если указано 5 -
                | то один юзер сможет отправлять сообщения не чаще раз в пяти секунд. Отсчёт ведётся на каждой доске отдельно.
                | Сделано для защиты от вайпа.
            li
                b seconds_thread
                | — то же, что и предыдущее свойство, но относительно создания новаых тредов, а не отправки сообщений в
                | существующие.
        p
            | Следующий конфигурационный файл называется
            span.mark captcha.json
            | и предназначен для изменения вида тестов для различия людей и ботов (капча). Здесь можно ничего не менять.
            | Значения свойств таковы:
        ul
            li
                b size
                | — количество букв в капче. Рекомендуемые значения - 4-6.
            li
                b width
                | — ширина в пикселях.
            li
                b height
                | — высота в пикселях.
            li
                b background
                | — RGB цвет фона.
            li
                b color
                | — RGB цвет цифр.
            li
                b noise
                | — дополнительный графический шум. true/false.
            li
                b lineWidth
                | — толщина шумовых линий. Не рекомендуется ставить слишком большую.
            li
                b noiseColor
                | — RGB цвет шумовых линий.
            li
                b complexity
                | — сложность. 1-6.
        p
            | Следующие два конфигурационных файла -
            span.mark crypt_admin.json
            | и
            span.mark crypt_captcha.json
            | содержат всего два параметра, но тем не менее крайне важны. Они отвечают за шифрование и противодействие попыткам
            | взломать вашу имейджборду.
            span.mark crypt_admin.json
            | рекомендуется не менять, так как иначе созданный по умолчанию профиль модератора станет недействительным.
        ul
            li
                b secret
                | — секретная строка, выполняющая роль "соли" в алгоритме шифрования. Рекомендуется заменить на свою строку,
                | или хотя бы добавить пару символов в
                span.mark crypt_captcha.json
                | . Содержание значения не имеет. Обратите внимание, что значение
                | обязательно должно быть в двойных кавычках.
            li
                b iterations
                | — количество итераций цикла шифрования. Менять этот параметр в
                span.mark crypt_captcha.json
                | не обязательно, но это повысит надёжность.
                | Ставить выше 5000 смысла не имеет. Обратите внимание, что значение обязательно
                b НЕ
                | должно содержать двойные кавычки. С кавычками вы не сможете запустить вашу имейджборду.
        p
            | Следующий конфигурационный файл
            span.mark db.json
            | - один из самых важных. Если вы не имеете опыта работы с базами данных, то лучше не трогайте его. В случае,
            | если вы желаете подключить свою базу, в нём вам нужно будет указать все параметры,
            | необходимые для подключения. Обратите внимание, что свойство
            span.mark storage
            | имеет важность только при sqllite, а свойства
            span.mark login
            | ,
            span.mark pass
            | ,
            span.mark database
            | и
            span.mark port
            | только при иных базах. В случае, если свойство неважно, не имеет значения, что там будет написано - главное,
            | не оставляйте свойство пустым.
        ul
            li
                b login
                | — логин от базы данных. По умолчанию - root, но вы можете создать других пользователей.
            li
                b pass
                | — пароль от базы данных. Задаётся при установке базы или создании пользователя.
            li
                b database
                | — имя базы данных.
            li
                b dialect
                | — тип базы данных. Варианты: mysql, mariadb, sqlite, postgres, mssql.
            li
                b storage
                | — путь к базе sqlite. При использовании других баз значение не важно.
            li
                b port
                | — порт, прослушиваемый базой. Например у MySQL и MariaDB он 3306.
        p
            | И последний конфигурационный файл называется
            span.mark messages.json
            | . Он не очень важен, поэтому его можно пропустить. В нём указываются сообщения, которые добавляются к сообщению
            | юзера при бане или предупреждении.
        ul
            li
                b ban
                | — сообщение при бане.
            li
                b prevention
                | — сообщение при предупреждении.