extends ../../basis/layout

block content
    h1 Кастомизация
    section.main_article
        p
            | Если вам не захочется использовать выставленный по умолчанию дизайн Hanako, либо вы пожелаете добавить какие
            | либо свои скрипты или возможности, вы вы легко можете сделать это. Для ваших собственных скриптов
            | и стилей сделана специальная директория, найти которую вы можете по адресу
            span.mark Hanako/client/source/mods
            | .
        article.note
            | Вы можете добавлять свои файлы в любые папки, но это не рекомендуется, так как создаёт дополнительную путаницу.
        p
            | После того, как файл был помещён в эту директорию, вы можете получить доступ к нему по адресу
            span.mark домен/src/mods/имя_файла
            | . Не забывайте, что вы можете создавать свои директории внутри
            span.mark mods
            | . Для того, чтобы добавить ваш стиль или скрипт на страницу, необходимо прописать его в шаблоне. По адресу
            span.mark Hanako/client/views/basis
            | вы сможете найти файлы
            span.mark layout.jade
            | и
            span.mark layout_boards.jade
            | . Первый отвечает за главную страницу, административную панель и прочие страницы, а второй - за доску и отдельный
            | тред.
        article.note
            | Подробнее о шаблонизаторе Jade вы можете узнать на
            a(href="http://jade-lang.com/") официальном сайте
            | .
        p Для того, чтобы добавить свой созданный скрипт или стиль на страницу, необходимо вписать туда строку.
            | Для примера, возьмём файл с названием
            span.mark style.css
            | , который мы добавили в
            span.mark mods
            | и хотим загружать вместе с
            span.mark layout_boards.jade
            | . Теперь откроем файл
            span.mark layout_boards.jade
            | .
        img(src="/src/img/docs/11.png" alt="doc11")
        p
            | Необходимо добавить строку
        span.mark link(rel="stylesheet" href="/src/mods/style.css")
        p
            | в раздел
            span.mark head
            | . Допишем её к остальным стилям, между стрками 17 и 18 на изображении.
        p
            | Как мы уже убедились, добавлять новые стили и скрипты совершенно несложно. Но что делать, если мы хотим
            | добавить статичную страницу? Для примера, нужно создать страницу с правилами или FAQ. Добавить её ещё проще!
            | По адресу
            span.mark Hanako/client/views/other
            | вы можете найти директорию для пользовательских страниц. Достаточно поместить туда вашу страницу в привычном
            | HTML формате и перейти по адресу
            span.mark домен/ваш_файл
            | , и она будет открыта. Для примера, если вы поместите туда файл с именем
            span.mark rules.html
            | , то сможете увидеть его по адресу
            span.mark домен/rules.html
            | . Чтобы пользователям стало известно о существовании этой страницы добавьте ссылки на неё на других страницах.
            | Подробнее о файлах читайте в следующем разделе.