extends ../../basis/layout

block content
    h1 Кастомизация
    section.main_article
        p
            | Если вам не захочется использовать выставленный по умолчанию дизайн Hanako, либо вы пожелаете добавить какие
            | либо свои скрипты или возможности, вы вы легко можете сделать это. Для ваших собственных скриптов
            | и стилей сделана специальная директория, найти которую вы можете по адресу
            span.mark Hanako/client/source/mods
            | .
        article.note
            | Вы можете добавлять свои файлы в любые папки, но это не рекомендуется, так как создаёт дополнительную путаницу.
        p
            | После того, как файл был помещён в эту директорию, вы можете получить доступ к нему по адресу
            span.mark домен/src/mods/имя_файла
            | . Не забывайте, что вы можете создавать свои директории внутри
            span.mark mods
            | . Для того, чтобы добавить ваш стиль или скрипт на страницу, необходимо прописать его в шаблоне. По адресу
            span.mark Hanako/client/views/basis/
            | вы сможете найти файлы
            span.mark layout.jade
            | и
            span.mark layout_boards.jade
            | . Первый отвечает за главную страницу, административную панель и прочие страницы, а второй - за доску и отдельный
            | тред. Для того, чтобы добавить свой созданный скрипт или стиль на страницу, необходимо вписать туда строку.
            | Для примера, возьмём файл с названием
            span.mark style.css
            | , который мы добавили в
            span.mark mods
            | и хотим загружать вместе с
            span.mark layout_boards.jade
            | .
        //link(rel="stylesheet" href="/src/data/css/reset.css")