extends ../../basis/layout

block content
    mixin arrows('ru', ['custom', 'api'])
    h1.art_header Описание файлов
    section.main_article
        p
            | Hanako состоит из большого числа различных файлов. Если вы пожелаете внести какие-либо свои изменения в проект,
            | вам необходимо будет разобраться, за что отвечает тот или иной файл. На этой странице вы можете ознакомится
            | с описанием всех входящих в состав Hanako файлов.
        section.files_scheme
            article.fs_dir Hanako
            article.dir_o Корневой каталог.
                article.fs_dir app
                article.dir_o Логика приложения.
                    article.fs_dir assist
                    article.dir_o Директория, содержащая основные файлы, на которых строится вся работа приложения.
                        article.fs_fl admin_crypt.js
                        article.fl_o Зашифровка и расшифровка данных, связанных с администраторами.
                        article.fs_fl api.js
                        article.fl_o Ответы на запросы по api.
                        article.fs_fl board_list.js
                        article.fl_o Список досок.
                        article.fs_fl captcha.js
                        article.fl_o Генерация и проверка капчи.
                        article.fs_fl checking_board.js
                        article.fl_o Проверка прав администратора на действия на доске.
                        article.fs_fl control.js
                        article.fl_o Один из ключевых файлов. Действия администраторов, создание постов и тредов.
                        article.fs_fl database.js
                        article.fl_o Подключение к базе данных и модели таблиц.
                        article.fs_fl file_operation.js
                        article.fl_o Операции с JSON файлами в каталоге data,
                        article.fs_fl login.js
                        article.fl_o Расшифровка и проверка логина и пароля администратора при входе.
                        article.fs_fl pages_checking.js
                        article.fl_o Проверка существования страницы и доски.
                        article.fs_fl post_processing.js
                        article.fl_o Обработка текста сообщения перед сохранением в базу.
                        article.fs_fl render.js
                        article.fl_o Один из ключевых файлов. Отображение различных страниц.
                        article.fs_fl stack.js
                        article.fl_o Порядок тредов на доске. Подъём при сообщении, удаление, создание, прикрепление.
                        article.fs_fl status.js
                        article.fl_o Проверка статуса администратора в административной панели.
                        article.fs_fl status_common.js
                        article.fl_o Проверка статуса администратора на доске.
                        article.fs_fl structure.js
                        article.fl_o Важный элемент системы отображения треда.
                        article.fs_fl unban.js
                        article.fl_o Проверка и разбан IP адресов, чей срок бана истёк.
                    article.fs_dir data
                    article.dir_o Данные, которые хранятся не в базе.
                        article.fs_fl board.json
                        article.fl_o Список досок с их настройками.
                        article.fs_fl spam.json
                        article.fl_o Спам-лист по доскам.
                    article.fs_dir db_storage
                    article.dir_o Директория для sqlite.
                        article.fs_fl hanako_db.sqlite
                        article.fl_o База данных sqlite.
                    article.fs_dir routing
                    article.dir_o Роутеры и некоторые обработчики запросов.
                        article.fs_fl admin.js
                        article.fl_o Роутер административной панели.
                        article.fs_fl api.js
                        article.fl_o Роутер API.
                        article.fs_fl ban.js
                        article.fl_o Просмотр своих банов.
                        article.fs_fl errors.js
                        article.fl_o Различные ошибки.
                        article.fs_fl report.js
                        article.fl_o Отправка репорта.
                        article.fs_fl testing.js
                        article.fl_o Капча.
                        article.fs_fl threads.js
                        article.fl_o Треды, доски и главная.
                    article.fs_fl app.js
                    article.fl_o Основной роутер.
                article.fs_dir client
                article.dir_o Файлы, связанные с отображением и front-end частью.
                    article.fs_dir source
                    article.dir_o Стили, скрипты и различные изображения.
                        article.fs_dir data
                        article.dir_o Стили и скрипты.
                            article.fs_dir css
                            article.dir_o CSS стили.
                                article.fs_fl jquery-ui.min.css
                                article.fl_o jQuery UI стили.
                                article.fs_fl jquery-ui.structure.min.css
                                article.fl_o jQuery UI стили.
                                article.fs_fl remodal.css
                                article.fl_o Стили модального окна.
                                article.fs_fl remodal-default-theme.css
                                article.fl_o Стили модального окна.
                                article.fs_fl reset.css
                                article.fl_o Сброс стилей перед поключением собственных.
                                article.fs_fl toastr.min.css
                                article.fl_o Стили всплывающих подсказок
                            article.fs_dir js
                            article.dir_o JS скрипты.
                                article.fs_fl jquery.js
                                article.fl_o Скрипты jQuery.
                                article.fs_fl jquery-ui.min.js
                                article.fl_o Скрипты jQuery UI.
                                article.fs_fl less.js
                                article.fl_o Преобразование LESS в CSS на клиенте.
                                article.fs_fl main.js
                                article.fl_o Основные скрипты Hanako.
                                article.fs_fl page_title.js
                                article.fl_o Имя страницы в браузере.
                                article.fs_fl remodal.min.js
                                article.fl_o Скрипты модального окна.
                                article.fs_fl toastr.min.js
                                article.fl_o Скрипты всплывающих подсказок.
                            article.fs_dir less
                            article.dir_o LESS стили.
                                article.fs_fl main.less
                                article.fl_o Основные стили Hanako.
                        article.fs_dir img
                        article.dir_o Изображения и элементы интерфейса.
                            article.fs_dir main
                            article.dir_o Каталог с системными изображениями.
                                article.fs_dir arts
                                article.dir_o Полноразмерные изображения.
                                    article.fs_fl e403.jpg
                                    article.fl_o Изображение при ошибке 403.
                                    article.fs_fl e404.jpg
                                    article.fl_o Изображение при ошибке 404.
                                    article.fs_fl e500.jpg
                                    article.fl_o Изображение при ошибке 500.
                                    article.fs_fl index.png
                                    article.fl_o Изображение на главной странице.
                                article.fs_dir logo
                                article.dir_o Элементы логотипа.
                                    article.fs_fl favicon.ico
                                    article.fl_o Фавикон (пиктограмма в браузере).
                                    article.fs_fl logo.png
                                    article.fl_o Логотип.
                                    article.fs_fl text.png
                                    article.fl_o Название возле логотипа.
                                article.fs_fl cross.png
                                article.fl_o Закрытие плавающего окна и удаление слова из спам-листа.
                                article.fs_fl list.png
                                article.fl_o Список действий администратора.
                                article.fs_fl refresh.png
                                article.fl_o Обновление треда.
                                article.fs_fl t_attach.png
                                article.fl_o Тред прикреплён.
                                article.fs_fl t_lock.png
                                article.fl_o Тред закрыт.
                                article.fs_fl t_sage.png
                                article.fl_o Сообщение, не поднимающее тред.
                            article.fs_dir trd
                            article.dir_o Каталог с загруженными пользователями изображениями.
                        article.fs_dir mods
                        article.dir_o Каталог для пользовательских стилей, скриптов и изображений.
                    article.fs_dir view
                    article.dir_o Jade шаблоны страниц.
                        article.fs_dir admin
                        article.dir_o Административная панель.
                            article.fs_fl admins.jade
                            article.fl_o Управление администраторами.
                            article.fs_fl bans.jade
                            article.fl_o Баны и разбаны.
                            article.fs_fl boards.jade
                            article.fl_o Управление досками.
                            article.fs_fl login.jade
                            article.fl_o Вход в панель.
                            article.fs_fl panel.jade
                            article.fl_o Административная панель.
                            article.fs_fl reports.jade
                            article.fl_o Управление жалобами.
                            article.fs_fl spam.jade
                            article.fl_o Спам-лист.
                        article.fs_dir basis
                        article.dir_o Основные частоиспользуемые элементы.
                            article.fs_fl layout.jade
                            article.fl_o Шаблон большинства страниц.
                            article.fs_fl layout_boards.jade
                            article.fl_o Шаблон досок и тредов.
                            article.fs_fl mixins.jade
                            article.fl_o Миксины (шаблоны повторяемых элементов).
                        article.fs_dir errors
                        article.dir_o Страницы ошибок.
                            article.fs_fl e403.jade
                            article.fl_o Ошибка 403.
                            article.fs_fl e404.jade
                            article.fl_o Ошибка 404.
                            article.fs_fl e449.jade
                            article.fl_o Ошибка 449.
                            article.fs_fl e500.jade
                            article.fl_o Ошибка 500.
                        article.fs_dir main
                        article.dir_o Основные страницы.
                            article.fs_fl ban.jade
                            article.fl_o Просмотр полученных банов.
                            article.fs_fl dashboard.jade
                            article.fl_o Страница на доске.
                            article.fs_fl index.jade
                            article.fl_o Главная страница.
                            article.fs_fl thread.jade
                            article.fl_o Чтение треда.
                        article.fs_dir other
                        article.dir_o Пользовательские HTML файлы.
                article.fs_dir configs
                article.dir_o Конфигурационные файлы.
                    article.fs_fl app.json
                    article.fl_o Настройки приложения и ограничений постинга.
                    article.fs_fl captcha.json
                    article.fl_o Настройки капчи.
                    article.fs_fl crypt_admin.json
                    article.fl_o Настройки шифрования администраторских данных.
                    article.fs_fl crypt_captcha.json
                    article.fl_o Настройки шифрования капчи.
                    article.fs_fl db.json
                    article.fl_o Настройки подключения к базе данных.
                    article.fs_fl messages.json
                    article.fl_o Настройки получаемых юзерами предупреждений.
                article.fs_dir node_modules
                article.dir_o Модули Node.js. Описывать их все бессмысленно, подробнее о каждом вы можете узнать на
                    a(href="http://npmjs.com/") http://npmjs.com
                    | .
                article.fs_dir tmp
                article.dir_o Каталог для временного хранения изображений во время загрузки.
                article.fs_fl hanako.js
                article.fl_o Исполняемый файл приложения.
                article.fs_fl package.json
                article.fl_o Метафайл для Node.js.
    mixin arrows('ru', ['custom', 'api'])