extends ../../basis/layout

block content
    h1 Общая информация
    section.main_article
        p
            | Hanako - это движок для анонимного форума (имейджборды). Он выгодно отличается от других движков обилием
            | возможностей, отличной работой «из коробки» и богатыми возможностями по настройке. По скорости работы Hanako
            | в разы быстрее и стабильнее ближайших конкурентов - Wakaba и Futaba, а также гораздо лучше выдерживает
            | большую нагрузку. Благодаря этому, Hanako подходит как для небольших имейджборд, так и для крупнейших порталов
            | с десятками тысяч ежедневных посетителей.
        p
            | Несмотря на то, что Hanako готов к работе «из коробки», редактировать и кастомизировать движок просто и удобно.
            | Пользовательские JS-скрипты и CSS/LESS-стили элементарно подключаются к движку. Также имеется специальная папка
            | для страниц в виде Jade-шаблонов, которые будут доступны для посещения сразу после помещения в папку. Более
            | глубокая переработка движка также не представляет большой трудности, так как весь код прокомментирован на
            | английском языке.
        p
            | Движок Hanako написан на Node.js и может использовать практически любую SQL базу - MySQL, MariaDB, PostgreSQL,
            | MSSQL, sqlite (последняя установлена по умолчанию). В качестве HTML шаблонизатора используется Jade, который был
            | бы выбран за свою функциональность, не имеющую равных среди других шаблонизаторов.
            | Также в Hanako используется свой модуль отрисовывания изображений
            | для отсеивания ботов (капча), что делает его независмым от сторонних сервисов. Встроенная капча имеет широкие настройки
            | в конфигурационном файле и трудночитаема для машин. При необходимости можно добавить внешний сервис капчи,
            | например от Google или Yandex.
        p
            | Особенно стоит отметить возможности по настройке отдельных досок для модераторов с высоким статусом. Они могут
            | разрешить или запретить использование трипкодов (опознавательных кодов), сделать их обязательными и генерируемыми
            | на основе IP адреса, разрешить или запретить прикрепление изображений к сообщению и многое другое. И это всё
            | в удобном визульном интерфейсе! Возможности же при редактировании конфигурационных файлов практически безграничны.