extends ../../basis/layout

block content
    h1 Меню
    section.main_article
        p
            | Hanako - это современный и функциональный движок для анонимного форума (имейджборды), сочетающий в себе
            | широкие возможности Wakaba и Kusaba с лёгкостью в настройке. Его можно использовать и «как есть», и модифициорвать
            | под свои нужды, чему способствует полная открытость и прокомментированность кода. Особенно стоит отметить
            | его высокую скорость работы и устойчивость к высоким нагрузкам.
        p
            | Здесь вы можете прочесть полную документацию по Hanako.
    section.index_menu
        a(href='/ru/general').menu_item
            article Общая информация
        a(href='/ru/install').menu_item
            article Установка
        a(href='/ru/config').menu_item
            article Настройка
        a(href='/ru/launch').menu_item
            article Запуск
        a(href='/ru/admin').menu_item
            article Администрирование
        a(href='/ru/custom').menu_item
            article Кастомизация
        a(href='/ru/files').menu_item
            article Описание файлов
        a(href='/ru/mark').menu_item
            article Разметка
        a(href='/ru/api').menu_item
            article API