extends ../../basis/layout

block content
    h1 Меню
    section.index_menu
        a(href='/ru/general').menu_item
            article Общая информация
        a(href='/ru/install').menu_item
            article Установка
        a(href='/ru/config').menu_item
            article Настройка
        a(href='/ru/launch').menu_item
            article Запуск
        a(href='/ru/admin').menu_item
            article Администрирование
        a(href='/ru/custom').menu_item
            article Кастомизация
        a(href='/ru/files').menu_item
            article Описание файлов
        a(href='/ru/mark').menu_item
            article Разметка
        a(href='/ru/api').menu_item
            article API