extends ../../basis/layout

block content
    h1 Меню
    section.index_menu
        a(href='/ru/general')
            article.menu_item Общая информация
        a(href='/ru/install')
            article.menu_item Установка
        a(href='/ru/config')
            article.menu_item Настройка
        a(href='/ru/launch')
            article.menu_item Запуск
        a(href='/ru/admin')
            article.menu_item Администрирование
        a(href='/ru/custom')
            article.menu_item Кастомизация
        a(href='/ru/files')
            article.menu_item Описание файлов
        a(href='/ru/api')
            article.menu_item API