extends ../../basis/layout

block content
    mixin arrows('ru', ['general', 'config'])
    h1.art_header Установка
    section.main_article
        p
            | Прежде всего, для запуска Hanako необходим Node.js. Hanako разрабатвался на Node.js версии 4.2.1, но для
            | запуска подойдёт и более поздняя версия. Скачать Node.js вы можете на
            a(href="https://nodejs.org/") официальном сайте
            | . После скачивания и установки версии под вашу операционную систему (рекомендуется любой Linux дистрибутив)
            | можно продолжать.
        p
            | Далее вам понадобится база данных. В Hanako уже имеется встроенная sqlite, поэтому, если вы не желаете
            | подключать иную базу или не имеете опыта работы с ними, этот абзац можно пропустить. Кроме встроенной sqlite
            | подойдут также MySQL, MariaDB, PostgreSQL и MSSQL.
            | Если вы установили иную СУБД, то вам нужно будет создать пустую базу данных.
        p
            | После этого всё практически готово к запуску Hanako. Теперь скачайте Hanako:
        a(href="").download_button
            article Hanako - русская версия
        a(href="").download_button
            article Hanako - english version
        p Распакуйте архив в любое удобное вам место. Теперь можно приступать к настройке.
    mixin arrows('ru', ['general', 'config'])