extends ../../basis/layout

block content
    mixin arrows('ru', ['config', 'admin'])
    h1.art_header Запуск
    section.main_article
        p
            | Сам по себе запуск Hanako не представляет особых трудностей, однако на этом этапе вылезают все допущенные
            | ранее ошибки, поэтому глава большей частью посвящена их исправлению.
        p
            | Итак, для пробного запуска достаточно перейти в корневой каталог Hanako и выполнить команду
            span.mark node hanako.js
            | . Если всё сделано верно, то в консоли должна появиться единственная строка
            span.mark Connect to DB created!
        article.note
            | Если вы запускаете Hanako с правами определённого пользователя, проследите, чтобы этот пользователь имел
            | полные права на все вложенные каталоги и файлы в приложении. Чтобы избежать связанных проблем, запускайте
            | Hanako из под рута.
        h2 Возможные ошибки и их исправление
        img(src="/src/img/docs/12.png" alt="doc12")
        p
            b Error: libgif.so.4: cannot open shared object file: No such file or directory
        p
            | Такая ошибка возникает при отсутствии библиотеки для работы с форматов изображений gif. Вам необходимо установить
            | её из репозитория вашего дистрибутива Linux. Если у вас Debian, то вам нужно выполнить команду
            span.mark apt-get install libgif4
            | .
    mixin arrows('ru', ['config', 'admin'])