extends ../../basis/layout

block content
    mixin arrows('ru', ['config', 'admin'])
    h1.art_header Запуск
    section.main_article
        p
            | Сам по себе запуск Hanako не представляет особых трудностей, однако на этом этапе вылезают все допущенные
            | ранее ошибки, поэтому глава большей частью посвящена их исправлению.
        p
            | Итак, для пробного запуска достаточно перейти в корневой каталог Hanako и выполнить команду
            span.mark node hanako.js
            | . Если всё сделано верно, то в консоли должна появиться единственная строка
            span.mark Connect to DB created!
        article.note
            | Если вы запускаете Hanako с правами определённого пользователя, проследите, чтобы этот пользователь имел
            | полные права на все вложенные каталоги и файлы в приложении. Чтобы избежать связанных проблем, запускайте
            | Hanako из под рута.
        h2 Возможные ошибки и их исправление
        img(src="/src/img/docs/12.png" alt="doc12")
        p
            b Error: libgif.so.4: cannot open shared object file: No such file or directory
        p
            | Такая ошибка возникает при отсутствии библиотеки для работы с форматов изображений gif. Вам необходимо установить
            | её из репозитория вашего дистрибутива Linux. Если у вас Debian, то вам нужно выполнить команду
            span.mark apt-get install libgif4
            | .
        img(src="/src/img/docs/13.png" alt="doc13")
        p
            b Error: Module version mismatch. Expected 14, got 46.
        p
            | Главной причиной этой ошибки является устаревшая версия Node.js. Hanako разрабатывался на Node.js версии 4.2.1,
            | её же и рекомендуется использовать. Также для запуска Node.js определённой версии можно воспользоваться
            a(href="https://www.npmjs.com/package/n") модулем n
            | .
        p
            b No package 'pangocairo' found
        p
            | У вас отсутствует пакет, необходимый для работы с изображениями. Установите его из репозитория вашего дистрибутива.
            | Для примера, на Debian необходимо ввести
            span.mark apt-get install libpango1.0-dev
            | .
        h2 Окончательный запуск
        p
            | Если Hanako без проблем запускается, то необходимо упредить будущие возможные ошибки. Для этого отлично
            | подойдёт модуль
            span.mark forever.js
            | . Этот модуль при падении сервера практически мгновенно его перезапустит, что позволит избежать ряда пролем.
            | Для его установки вам нужно выполнить следующую команду команду:
        p
            span.mark npm install -g forever
        p
            | После чего перейти в корневой каталог Hanako и выполнить
        p
            span.mark forever start hanako.js
        p
            | Всё, Hanako запущен и готов к использованию! При необходимости остановить Hanako достаточно выполнить
        p
            span.mark forever stop hanako.js
        p
            | из корнегого каталога Hanako.
    mixin arrows('ru', ['config', 'admin'])