extends ../../basis/layout

block content
    mixin arrows('ru', ['files', 'api'])
    h1.art_header Разметка
    section.main_article
        p
            | Порой пользователям необходимо выделить в своём сообщении какую-либо информацию. Для этого можно использовать
            | шаблоны разметки. Ниже перечислены доступные способы разметки.
        img(src="/src/img/docs/14.png" alt="doc14")
        p
            b Ссылка на сообщение
            | — ссылка на другое сообщение, всплывающее при наведении курсора. Написание номера сообщения после двух
            | знаков "больше". Пример:
            span.mark >>номер
            | .
        p
            b Цитата
            | — выделение ранее сказанного текста. Написание после одного знака "больше". Пример:
            span.mark >текст
            | .
        p
            b Полужирный
            | — просто выделенный текст. Написание между двумя группами по два астериска (звёздочки, снежинки). Пример:
            span.mark **текст**
            | .
        p
            b Курсив
            | — или же италик. Написание между двумя астерсиками. Пример:
            span.mark *текст*
            | .
        p
            b Зачёркнутый
            | — перечёркивает текст одной чертой. Написание между двумя группами по два нижних дефиса (подчерка). Пример:
            span.mark __текст__
            | .
        p
            b Спойлер
            | — скрывает текст, открывая его при наведении курсора. Написание между двумя группами по два знака процента.
            | Пример:
            span.mark %%текст%%
            | .
        p
            | Отдельно стоит отметить рулетку, также называемую броском дайсов. Она доступна не на всех досках, а только
            | на тех, где была разрешена в настройках.
        img(src="/src/img/docs/5.png" alt="doc5")
        p
            | Для использования необходимо максимальное значение броска, буквы
            span.mark RL
            | и количество бросков. Пример:
            span.mark 20RL5
            | . В результате будет сгенерировано это количество бросков и показана сумма результатов, а так же максимальный
            | возможный результат. Следует помнить, что значение одного броска не может быть больше 100, а количество бросков
            | не может превышать 10.
    mixin arrows('ru', ['files', 'api'])