extends ../../basis/layout

block content
    h1 Menu
    section.index_menu
        a(href='/en/general').menu_item
            article General information
        a(href='/en/install').menu_item
            article Installing
        a(href='/en/config').menu_item
            article Configuration
        a(href='/en/launch').menu_item
            article Launch
        a(href='/en/admin').menu_item
            article Administration
        a(href='/en/custom').menu_item
            article Customization
        a(href='/en/files').menu_item
            article Files description
        a(href='/en/api').menu_item
            article API