extends ../../basis/layout

block content
    h1 Menu
    section.main_article
        p
            | Hanako - is a modernised and highly functional engine for  anonymous forum (imageboard), which combines
            | wide oppurtunities and capabilities of Wakaba and Kusaba along with easiness in configuration. It can be used "as is", and can also be modified
            | to suit your needs, which is facilitated by the open source and commenting possibility of the code. Particularly worth mentioning
            | is its high operational speed and fault tolerance.
        p
            | Here you can read all the documentation on Hanako.
    section.index_menu
        a(href='/en/general').menu_item
            article General information
        a(href='/en/install').menu_item
            article Installation
        a(href='/en/config').menu_item
            article Configuration
        a(href='/en/launch').menu_item
            article Launch
        a(href='/en/admin').menu_item
            article Administration
        a(href='/en/custom').menu_item
            article Customization
        a(href='/en/files').menu_item
            article File descriptions
        a(href='/en/mark').menu_item
            article Marking
        a(href='/en/api').menu_item
            article API
    article.download_index
        h2 Download:
        a(href="https://github.com/Vladimir37/Hanako/archive/master.zip" download).download_button
            article Hanako - Full version
        a(href="https://github.com/Vladimir37/Hanako/archive/minimal.zip" download).download_button
            article Hanako - Minimal version