extends ../../basis/layout

block content
    h1 Menu
    section.index_menu
        a(href='/en/general')
            article.menu_item General information
        a(href='/en/install')
            article.menu_item Installing
        a(href='/en/config')
            article.menu_item Configuration
        a(href='/en/launch')
            article.menu_item Launch
        a(href='/en/admin')
            article.menu_item Administration
        a(href='/en/custom')
            article.menu_item Customization